/**ALGEMEEN**/
@font-face{
    font-family: CustomFont;
    src: url(fonts/font.ttf);
}
*{
    margin: 0px;
	padding: 0px;
	font-family: CustomFont;
	color: white;
	font-size: 100%;
}
header, footer, nav{
	display: block;
}
#container{
	margin: 0px auto; 
	padding: 10px; 
	width: 950px;
	background-repeat: no-repeat;
    background-color: rgba(5, 0, 0, 0.7);
}
body{
	background: url(background/concrete_seamless.png);
	background-color:rgb(255, 255, 255);
	background-attachment: fixed;
}
p{
	margin-left:20px;
	margin-right:20px;
}
h1{
    display: table;
    white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
}
h1:before{
	right: 1.15%;
}
h1:after{
	left: 1.15%;
}
h1:before, h1:after{
      border-top: 1px solid white;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 40%;
}
 /**INDEX**/
 .navbar{
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.nav.navbar-nav li a {
   color: white;
   text-decoration: none;
 }
 .nav.navbar-nav li a:hover {
   color: #000;
 }
 .nav.navbar-nav{
	margin:40px 0px 0px 137px;	
	width: 800px;
	padding: 0px;
	font-size: 16px;
 }
 .navbar-header h2 {
 	margin-top:0px;
 	padding-top:0px;
 }
 #titelheader{
 	font-size:3em;
 	margin-left:7px;
 }
 #bootstrap{
 	margin-top: 15px;
 	margin-left: 7px;
 }
.navbar-header a{
 	text-decoration: none;
}
header{
	height:150px;
}
/**KAMERS**/
.room-text{
  width: 440px;
  padding: 0px;
  display: inline-block;
  margin-left:20px;   /**toegevoegd**/

}
.room-image{
  display: inline-block;
  vertical-align: top;
  border-radius: 20px 20px 20px 20px;  /**toegevoegd**/
  border: 5px outset rgb(0, 0, 0); /**toegevoegd**/
}
/**VOORZIENINGEN**/
#left-side{
  padding: 0px;
  display: inline-block;
}
#right-side{
  display: inline-block;
  vertical-align: top;
}
.Lijst{				/**toegevoegd**/
	margin-left:50px;
}
/**BEZIENSWAARDIGHEDEN**/
.Inspringen img{
	margin-left:20px;
	margin-bottom:20px;
	border-radius: 20px 20px 20px 20px; 
	border: 5px outset rgb(0, 0, 0);
}
.Inspringen{
	margin-left:10px;
}
/**OMGEVING**/
/**EVENEMENTEN**/
a{
	color:white;
}
/**CONTACT**/

/**FOOTER**/
.Right{
	text-align:right;
}
td>img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 2.5em;
}
td{
	padding-left:20px;
	padding-right:20px;
}